<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {{ css_main | safe}}
</head>
<body>
{% include 'components/navbar.html' %}
{% include 'components/sidebar.html' %}
<div class="ui left fixed vertical menu" style="margin-top: 50px;">
    <div class="item header">
        <i class="icon book"></i>
        On This Page
    </div>
    {% for task in collection.tasks.all %}
        <a class="item" href="#task{{ task.id }}">{{ task.name }}</a>
    {% endfor %}
</div>
{% if collection %}
{% for task in collection.tasks.all %}
    <div class="ui one columns middle aligned very relaxed stackable grid" style="margin-top: 70px;">
        <div class="ui column">
            <div class="ui container text centered">
                {% if task.get_type_name == 'Rotating' %}
                {% include 'apps/task/type/rotating.html' %}
                {% elif task.get_type_name == 'Periodic' %}
                {% include 'apps/task/type/periodic.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{%  endfor %}
{% else %}
    <div class="ui one columns middle aligned very relaxed stackable grid" style="margin-top: 70px;">
        <div class="ui column">
            <div class="ui container text centered">
                <div class="ui segment piled very padded">
                    <h2 style="text-align: center;">Enter your Collection identifier</h2>
                    <form class="ui form" method="get" onsubmit="event.preventDefault()" style="text-align: center;max-width: 400px; margin: auto">
                        <div class="two fields">
                            <div class="field twelve wide">
                                <input id="ident" placeholder="Collection ID">
                            </div>
                            <div class="field four wide">
                                <button class="ui button black" onclick="window.location='/api/tasks/'+ document.getElementById('ident').value">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

</body>
{{ js_main | safe}}
<script>
    window.addEventListener("load", function () {
        $('.ui.sticky').sticky({
            context:$('.pusher')[0]
        });
        clearGetParameters();
    });

    function clearGetParameters()
    {
        var cleanUrl = window.location.href.split("?")[0];
        window.history.pushState("", document.title, cleanUrl);
    }
</script>
</html>