.contains-image{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.paddingless{
    padding:0 !important;
}

a.footer-responsive{
    display: block !important;
    width: 100%;
    font-size: 1em;
    margin: 10px;
}

.cover-container{
    width: auto;
    height: auto;
    margin: 0 auto;
}

.cover-text{
    color: white;
    opacity: 0;
    padding: 20px;
    font-size: 2em;
    position: absolute;
    top: 40%;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0
}

.cover{
    transition-property: filter;
    transition-duration: 0.5s;
    display: block !important;

}



.cover-container:hover .cover-text{
    opacity: 1;
}

.cover-container:hover .cover{
    filter: brightness(30%);
}



#search-input:focus, #search-input.expanded{
    width: 250px;
    outline: none;
    border-color: transparent !important;
    background-color: #444;
    color: #eee;

}

#search-input{
    width: 100px;
    transition-property: width;
    transition-duration: 0.2s;
    background-color: #333;
    color: #888;
    text-align: center;
    padding: 6px !important;
}


.dark{
    background-color: #333 !important;
    color: #888 !important;
}

.sidebar > .item.sub{
    padding-left: 2em !important;
    padding-right: 2em !important;
}

input[type="range"] {
    margin: 1rem 0;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 50rem;
    padding: 2px;

}

input[type="range"]:focus{
    outline: none !important;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;

    background: #1b1c1d;
    border-radius: 50rem;
    height: 1em;
    width: 1em;
}

.accordion > .item{
    padding: 0 !important;
}

.accordion .header{
    padding: 1em 1em !important;
}
