<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {{ css_main | safe}}
</head>
<body>
{% include 'components/navbar.html' %}
{% include 'components/sidebar.html' %}
<div class="ui left fixed vertical menu" style="margin-top: 50px;">
    <div class="item header">
        <i class="icon book"></i>
        On This Page
    </div>
    {% for task in collection.tasks.all %}
        <a class="item" href="#task{{ task.id }}">{{ task.name }}</a>
    {% endfor %}
</div>
{% if collection %}
{% for task in collection.tasks.all %}
    <div class="ui one columns middle aligned very relaxed stackable grid" style="margin-top: 70px;">
        <div class="ui column">

            <div class="ui container text centered">
                {% if task.get_type_name == 'Rotating' %}
                    <div class="ui segment piled " id="task{{ task.id }}">
                        <form class="ui form" method="get" action="" style="text-align: center;max-width: 400px; margin: auto">
                            <h1>{{ task.name }}</h1>
                            <h3>{{ task.description }}</h3>
                            <div class="two fields">
                                <div class="field">
                                    <select name="actor" class="ui search dropdown">
                                        <option value="">Select Person</option>
                                        {% for actor in task.members.all %}
                                            <option value="{{ actor }}">{{ actor }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="field">
                                    <button class="ui button black">Complete Task</button>
                                </div>
                            </div>
                            <input name="task-id" type="hidden" value="{{ task.id }}">
                        </form>
                    </div>
                    <h1>Most Recent</h1>
                    <div class="ui relaxed divided list">
                    {% for completion in task.last_ten_completions %}
                        <div class="item">
                            <div class="content">
                                <a class="header">{{ completion.actor }}</a>
                                <div class="description">Completed on {{ completion.time }}</div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{%  endfor %}
{% else %}
    <div class="ui one columns middle aligned very relaxed stackable grid" style="margin-top: 70px;">
        <div class="ui column">
            <div class="ui container text centered">
                <div class="ui segment piled very padded">
                    <h2 style="text-align: center;">Enter your Collection identifier</h2>
                    <form class="ui form" method="get" onsubmit="event.preventDefault()" style="text-align: center;max-width: 400px; margin: auto">
                        <div class="two fields">
                            <div class="field twelve wide">
                                <input id="ident" placeholder="Collection ID">
                            </div>
                            <div class="field four wide">
                                <button class="ui button black" onclick="window.location='/api/tasks/'+ document.getElementById('ident').value">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

</body>
{{ js_main | safe}}
<script>
    window.addEventListener("load", function () {
        $('.ui.sticky').sticky({
            context:$('.pusher')[0]
        });
        clearGetParameters();
    });

    function clearGetParameters()
    {
        var cleanUrl = window.location.href.split("?")[0];
        window.history.pushState("", document.title, cleanUrl);
    }
</script>
</html>