<div class="computer tablet only row">
    <div class="ui inverted fixed menu navbar">
        <div class="ui container">
            <a class="ui dropdown item rooms ">ISOGEN
                <i class="dropdown icon"></i>

                <div class="menu">

                </div>
            </a>
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search..." style="background: #555; color: white;" oninput="search(event)">
                    <i class="fa fa-search" style="position: relative; left: -20px; top: 10px;"></i>
                </div>
            </div>

            <a class="ui dropdown item login right">
                Sign In &nbsp;<span style="color: #888;;"> or </span>&nbsp; Sign up
                <i class="dropdown icon"></i>

                <div class="menu">
                    <div class="item" style="background: transparent !important; ">

                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
<script>
    function search(event){

    }
</script>
<div class="ui modal register">

</div>
