
    <div class="ui inverted fixed main menu navbar" style="background: url('/static/img/sbar-noise2.png')">
        <div class="ui container">
            <a class="ui item borderless" onclick="$('.ui.sidebar').sidebar('toggle')">
                <i class="icon content"></i>
                Directory
            </a>

            <div class="item borderless" style="padding: 0.5em">
                <div class="ui search">
                    <input id="search-input" class="prompt" type="text" placeholder="Search..." oninput="toggleSearch(event)">
                    <div class="results"></div>
                </div>
            </div>
            <div class="right menu">
                <a class="item right borderless" href="/projects/">
                    Projects
                </a>
                <a class="item right borderless" href="/experiments/">
                    Experiments
                </a>
            </div>



        </div>

    </div>

<script>

    function toggleSearch(event) {
        var input = event.target;

        if(input.value.length > 0) input.classList.add("expanded");
        else input.classList.remove("expanded");
    }
    function search(){
        var input = document.getElementById("search-input");
        var value = input.value;
        alert(value);
    }

    window.addEventListener("load", function () {
        $('.ui.search').search({
            source:directory
        });
    });


    var directory = [
        {
            title:      "Soundcloud Downloader",
            description:"Download Soundcloud songs by entering the url.",
            url:        "/experiments/soundcloud/"
        },
        {
            title:      "Task Tracker",
            description:"If you need to take out the garbage, this is the link you want.",
            url:        "/api/tasks/"
        },
    ]
</script>

