<div class="computer tablet only row">
    <div class="ui inverted fixed menu navbar">
        <div class="ui container">
            <div class="ui dropdown item nav borderless" onclick="$('.ui.sidebar').sidebar('toggle')">ISOGEN
                <div class="menu">

                </div>
            </div>
            <div class="item borderless">
                <div class="ui input action">
                    <input id="search-input" class="ui icon input" type="text" placeholder="Search..." onkeypress="if(event.key == 'Enter') search()" oninput="toggleSearch(event)">
                    <button class="ui button icon dark" onclick="search()"><i class="icon search"></i></button>
                </div>
            </div>

            <a class="ui item right borderless" onclick="$('.ui.sidebar').sidebar('toggle')">
                <i class="icon globe"></i>
                Navigation
            </a>
        </div>

    </div>
</div>
<script>

    function toggleSearch(event) {
        var input = event.target;

        if(input.value.length > 0) input.classList.add("expanded");
        else input.classList.remove("expanded");
    }
    function search(){
        var input = document.getElementById("search-input");
        var value = input.value;
        alert(value);
    }

    window.addEventListener("load", function () {
        $('.ui.dropdown.nav').dropdown();
    })
</script>
<div class="ui modal register">

</div>
