<script>
    window.addEventListener("load", function () {
        $('.ui.sidebar').sidebar({
            exclusive:true,
            scrollLock:true,
            returnScroll:true
        });
    });
</script>

<div class="ui right sidebar inverted vertical menu" style="padding-top: 50px; background: url('/static/img/sbar-noise2.png')">
    <div class="item header borderless">
        <i class=" icon cube"></i>
        ISOGEN
    </div>
    <a class="borderless item" href="/">
        <i class="icon home"></i>
        Home
    </a>
    <div class="item header" href="/experiments/">
        <i class="left icon flask"></i>
        Code Experiments
    </div>
    <a class="borderless sub item  " href="/experiments/terminal/">
        <i class="left icon book"></i>
        Terminal
    </a>
    <a class="borderless sub item" href="/projects/">
        <i class="left icon book"></i>
        Shinobu
    </a>
    <div class="item header" href="/experiments/">
        <i class="left icon question"></i>
        Misc. Pages
    </div>
    <a class="borderless sub item  " href="/api/tasks/">
        <i class="left icon tasks"></i>
        Task Tracker
    </a>
</div>
<div class="pusher">