<script>
    window.addEventListener("load", function () {
        $('.ui.sidebar').sidebar({
            exclusive:true,
            scrollLock:true,
            returnScroll:true
        });
        $('.ui.left.accordion').accordion();
    });
</script>

<div class="ui left sidebar inverted vertical accordion menu" style="padding-top: 50px; background: url('/static/img/sbar-noise2.png')">
    <div class="item header">
        Site Directory
    </div>
    <div class="item">
        <div class="title header inverted">
            <i class="icon dropdown"></i>
            <i class="icon star"></i>
            Projects
        </div>
        <div class="content">

            {% for project in projects %}
            <a class="borderless item" href="/projects/{{ project.short_name }}">{{ project.name }}<i class="icon {{project.icon}}"></i></a>
            {% endfor %}

        </div>
    </div>
    <div class="item">
        <div class="title header inverted">
            <i class="icon dropdown"></i>
            <i class="icon flask"></i>
            Code Experiments
        </div>
        <div class="content">
            {% for experiment in experiments %}
            <a class="borderless item" href="/experiments/{{ experiment.short_name }}">{{ experiment.name }}<i class="icon {{experiment.icon}}"></i></a>
            {% endfor %}
        </div>
    </div>
    <div class="item">
        <div class="title header inverted">
            <i class="icon dropdown"></i>
            <i class="icon external"></i>
            Links
        </div>
        <div class="content">
            <a class="borderless item" href="https://cloud.isogen.net">
                <i class="icon file"></i>
                Files
            </a>

        </div>
    </div>



</div>
<div class="pusher">